!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title start
    %link{:rel => 'stylesheet', :href => "/css/reset.css"}
    %link{:rel => 'stylesheet', :href => "/css/960.css"}
    %link{:rel => 'stylesheet', :href => "/css/text.css"}
    %link{:rel => 'stylesheet', :href => "/css/smoothness/jquery-ui-1.8.1.custom.css"}
    %link{:rel => 'stylesheet', :href => "/style.css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Crimson+Text", :rel => "stylesheet", :type => "text/css"}/

    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/jquery-ui-1.8.1.custom.min.js"}

    :javascript
      $(function () {
        // create sliders, set to hidden field
        if ($('.slider').length) {
          $('.slider').slider({
            step: 1,
            min: 0,
            max: 10,
            value: 1,
            change: function (event, ui) {
              $(this).next('.caption').text(ui.value);
              $(this).siblings('.value').show().attr('value', ui.value);
            }
          });
          $('.slider').each(function () {
            $(this).slider('value', $(this).siblings("input[type='hidden']").attr('value'));
          });

          // create list hover properties
          $('li .idea_wrapper').hover(
            function () { $(this).find('.delete').addClass('icon'); },
            function () { $(this).find('.delete').removeClass('icon'); }
          );
        }
      });
  %body
    .container_12
      .grid_12
        %h1 ideator
        %p
          Share your bevy of ideas:
          = link_to( @current_url, @current_url )

      = yield
