
.grid_6
  :markdown
    It's like this: you're a person, or a group of people, or a company. Maybe
    you make software, maybe you bake bread, doesn't matter. You want to do
    more than you're doing, but you're not sure how to get there.

    Idea Cards present you with the opportunity to take a small step towards
    something. Jot down your idea, get a rough idea of how ready you are to do
    it, then do it again. Once you've got a stack, a handful, a plethora; cut
    ruthlessly. Keep less on your plate. Once you've limited yourself to a
    couple of gems, do them.

    The concept and design hints are shamelessly ripped off from
    [Figure53](http://figure53.com/)'s [Idea
    Cards](http://yfrog.com/3nideacardsj), [see them in
    action](http://yfrog.com/ju6ihij).

    **Note:** the semi-obfuscated URL is your only connection to the ideas you generate,
    so make sure you don't lose it. There's no authentication of any sort, so
    once you share the link, it's out of your control. But that's okay, ideas
    are cheap, just make more.

    - - - - -

    I'm [Adam Bachman](http://adambachman.org)
    ([@abachman](http://twitter.com/abachman) on twitter) and I work for
    [SmartLogic Solutions](http://smartlogicsolutions.com) and [Baltimore
    Node](http://baltimorenode.org). **ideator** is a low profile side project
    intended for the exploration (and abuse) of [sinatra](http://www.sinatrarb.com/),
    [heroku](http://heroku.com/), and  [data mapper](http://datamapper.org/)
    with a few bits of [JQuery UI](http://jqueryui.com/) and Google's new [font
    api](http://code.google.com/apis/webfonts/) thrown in for good measure.

    You can find source code at github: #{ link_to "http://github.com/abachman/ideator" }. Feel free to use it
    however you like, but throw me a link if you're feeling generous. If you're feeling real generous, you can
    fork the project and send me changes.

    #### [get started](/#{ @bevy.token })
