body
  font-family: 'Crimson Text'

.field
  padding-bottom: 10px
  vertical-align: middle

  td
    vertical-align: middle
    padding: 4px

  label
    font-size: 14px
    padding-right: 14px

  input[type='text']
    width: 240px

  .slider
    display: inline-block
    width: 244px

  .caption
    display: inline-block
    padding: 0 0 0 8px
    font-size: 18px

ul
  .idea
    strong
      display: inline-block
      width: 30px

