.grid_8
  = partial 'ideas/_form', :locals => {:record => @record}

.grid_4.ideas
  = partial 'ideas/_ideas'

- if !@highlight.nil?
  :javascript
    $(function () {
      $('#idea_#{@highlight}').parent().addClass('current');
      $('#idea_#{@highlight}').parent().effect('highlight', {color:'#eee'}, 1000);
    });

